<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
	<div class="Header">
		<h1 style="font-size:40px;"align="center">Edit Task: {{taskPicked}} </h1>
	</div>
	<div class="list">
		<div class="list">
			<form ng-submit="updateTheTask(taskPicked,name,description,deadline,assignedNewUserName.name,assignedNewUserName._id, completed)">
				<div class="row">
					<div class="small-12 columns">
						<span>Name</span>
						{{name}}
						<input ng-model="name" type="text">
						<span>Description </span>
						<input ng-model="description" type="text" >
						<span>Deadline</span>
						<input ng-model="deadline" type="text">
						<span>Assigned User: {{assignedUserName}}</span>
						<select ng-model="assignedNewUserName" ng-options="y.name for y in userList"></select>
						<span> Completed: {{completed}}</span>
						<select ng-model="completed" ng-options="x for x in sorts"></select>
						<div class="row text-center">
							<button type="submit" class="medium button green">Submit(Doesn't do anything Should be a Put request)
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>