<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
	<div class="Header2" ng-repeat="task in taskPicked">
	    <h1 style="font-size:30px;"align="left">{{task.name}}</h1>
	    <h1 style="font-size:30px;"align="left">Deadline: {{task.deadline}}</h1>
	    <h1 style="font-size:30px;"align="left">Assigned to: {{task.assignedUserName}}</h1>
	    <h1 style="font-size:30px;"align="left">Completed: {{task.completed}}</h1>
		<div class="row text-center">
	    	<a class="button" ng-href="#edittask/{{task._id}}" >Edit Task</a>
 		</div>
 	</div>

</body>