<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body> 
  <div class="Header">
      <h1 style="font-size:40px;"align="center">Tasks</h1>
      <p style="font-size:20px;" align="center"> List of Tasks</p>
  </div>
  <div class="row text-right">
    <a class="button success" href="#/addtask">Add Task</a>
  </div>
  <div class="row">
    <p>Sort by:</p>
    <select class="selectSort "ng-model="selectedSort" ng-change="getNewResults()" ng-options="x for x in sorts"></select>
      <div class= "large-12 columns">
        <!-- Add different format for pending completed all -->
        <label><input type="radio"  value="1" ng-change="getNewResults()" ng-model="selectOrder">ascending </label>
        <label><input type="radio"  value="-1" ng-change="getNewResults()" ng-model="selectOrder">descending</label>
      </div>
      <div class= "large-12 columns text-right">
        <label><input type="radio"  value ="false" ng-change="getNewResults()" ng-model="completed">Pending</label>
        <label><input type="radio"   value="true" ng-change="getNewResults()" ng-model="completed">Completed</label>
        <label><input type="radio"  value="" ng-change="getNewResults()" ng-model="completed">All</label>
      </div>
      <ul class="pagination text-center" role="menubar" >
        <li class="arrow button" aria-disabled="true"><a ng-click='getPrevTasks()'>&laquo; Prev</a></li>
        <li class="arrow button"><a ng-click="getNextTasks()">Next &raquo;</a></li>
      </ul>
      <div class="UserResults" ng-repeat="task in tasks">
        <button class="buttonClass" ng-click="pickTask(task._id)"/> 
        <a ng-href="#taskdetails/{{task._id}}">
          <h3>Task Name: {{task.name}}</h3>
          <h3>Assigned to: {{task.assignedUserName}}</h3><br>
        </a> 
        <a class="button alert" ng-click="deleteTheTask(task._id,task.assignedUserName, task.assignedUser)">Delete Task</a>
      </div>
  </div> 
</body>
