<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
	<div class="Header">
	    <h1 style="font-size:40px;"align="center">User Profile</h1>
	    <p style="font-size:20px;" align="center"> List of Users</p>
	    the user is {{userPicked}}
	</div>
	<div class="row">

	</div>
</body>