<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
	<div class="Header" ng-repeat="user in userPicked">
	    <h1 style="font-size:50px;"align="center">User Profile</h1><br>
	    <h1 style="font-size:40px;"align="center">{{user.name}}</h1>
 		<h1 style="font-size:30px;"align="center">{{user.email}}</h1>
 		<h1 style="font-size:10px;"align="center" ng-init="getTaskNames(user.pendingTasks)"></h1>
 		<h1 style="font-size:50px;"align="left">Pending Tasks</h1><br>
 	</div>

 	<div class="row" ng-repeat="name in bsNAMES track by $index" >
 		<div class="row" ng-repeat="user in userPicked"> 
	 		<div class="UserResults" >
			 	<button class="buttonClass" ng-click="pickTask(taskID[$index])"/> 
				<a ng-href="#taskdetails/{{taskID[$index]}}">
					<h1 style="font-size:30px;"align="left">{{name}}</h1><br>
					<h1 style="font-size:30px;"align="center">Deadline: {{deadlines[$index]}}</h1>
					{{descriptionVal}}
				</a>
				<a class="button alert" ng-click="markAsCompleted(taskID[$index], name, descriptionVal,deadlines[$index],user.name,user.email,user.pendingTasks)">Completed Needs to be implemented</a>
			</div>
		</div>
	</div>
	<div class="row text-center" >
		<a class="button" ng-click="showCompleted()">Show Completed Tasks</a>
		<div class="UserResults" ng-show="buttonClicked" ng-repeat="complete in completedTasks">
			<button class="buttonClass" ng-click="pickTask(complete._id)"/> 
			<a ng-href="#taskdetails/{{complete._id}}">
			<h1 style="font-size:30px;"align="left">{{complete.name}}</h1><br>
			<h1 style="font-size:30px;"align="center">Deadline: {{complete.deadline}}</h1>
		</a>
		</div>

	</div>
</body>